MYSQL_HOST=127.0.0.1
MYSQL_PORT=13306
MYSQL_USER=root
MYSQL_PASSWORD=testdb1234
MYSQL_DB=testdb
BASE_URL=http://127.0.0.1:8091
SQLITE_DB_PATH=/DEV/shorts/database/test.db

ALB_WEB_PATH=alb-web
ALB_WAS_PATH=alb-was
ALB_WEB_BUCKET=bucket-web
ALB_WAS_BUCKET=bucket-was
REGION_NAME=ap-northeast-2
AWS_ACCESS_KEY_ID=access
AWS_SECRET_ACCESS_KEY=secret
ROUTES_ITEM=automation,aws
YOUTUBE_CRAWLING_URL=https://www.youtube.com/@hyfredit/store
SITEMAP_EXPORT_PATH=/Users/oseongryu/sitemap.xml

PROXY_HOSTS=127.0.0.1
PROXY_USERNAME=root
PROXY_PASSWORD=1234

DEV_API_HOSTS=127.0.0.1
DEV_API_USERNAME=root
DEV_API_PASSWORD=1234
DEV_WEB_HOSTS=127.0.0.1
DEV_WEB_USERNAME=root
DEV_WEB_PASSWORD=1234
DEV_WAS_HOSTS=127.0.0.1
DEV_WAS_USERNAME=root
DEV_WAS_PASSWORD=1234

PRD_API_HOSTS=127.0.0.1
PRD_API_USERNAME=root
PRD_API_PASSWORD=1234
PRD_WEB_HOSTS=127.0.0.1
PRD_WEB_USERNAME=root
PRD_WEB_PASSWORD=1234
PRD_WAS_HOSTS=127.0.0.1
PRD_WAS_USERNAME=root
PRD_WAS_PASSWORD=1234

QA_API_HOSTS=127.0.0.1
QA_API_USERNAME=root
QA_API_PASSWORD=1234
QA_WEB_HOSTS=127.0.0.1
QA_WEB_USERNAME=root
QA_WEB_PASSWORD=1234
QA_WAS1_HOSTS=127.0.0.1
QA_WAS_USERNAME=root
QA_WAS_PASSWORD=1234