.grid {
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 18%;
}
.grid-item {
  border: 1px solid #8f99f3;
  margin-bottom: 15px;
  border-radius: 1px;
  overflow: hidden;
}
.grid-item img {
  display: block;
  min-width: 100%;
  max-width: 100%;
}

td {
  border: 1px #ddd solid;
  padding: 5px;
  cursor: pointer;
}

.selected {
  background-color: #128dd4;
  color: #fff;
}

.before_searched {
  background-color: blue;
  color: #fff;
}

#search_result {
  color: #128dd4;
}
