<script src="/static/js/user/user.cookie.js"></script>
<script src="/static/js/user/user.event.js"></script>
<script src="/static/js/user/user.function.js"></script>
<script src="/static/js/user/user.json.js"></script>
<script src="/static/js/user/user.modal.js"></script>
<script src="/static/js/user/user.session.js"></script>
<script src="/static/js/user/user.viewer.js"></script>
<script src="/static/js/service/service.common.js"></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
        const currentPath = window.location.pathname;
        if (!currentPath.includes('auth')) {
            const token = user_session.get('token');
            if (!token) {
                console.log(currentPath);
                window.location.href = '/auth';
            }
        }
    });
</script>