<!-- 작은 모달 -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" id="modalHeader">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="modalTitle">Alert</h4>
			</div>
			<div class="modal-body" id="modalContent">...</div>
			<div class="modal-footer" id="modalBtns">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
			</div>
		</div>
	</div>
</div>
<!-- .작은 모달 -->

<!-- confirm 모달 -->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header" id="modalHeader2">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="modalTitle2">Alert</h4>
			</div>
			<div class="modal-body" id="confirmModalContent">...</div>
			<div class="modal-footer" id="modalBtns2">
				<button type="button" id="confirmModalOK" class="btn btn-primary">Confirm</button>
				<button type="button" id="confirmModalCancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
<!-- .confirm 모달 -->

<!-- setting Modal -->
<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header" id="settingModalHeader">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="settingModalTitle">Setting</h4>
			</div>
			<div class="modal-body" id="settingModalContent">...</div>
			<div class="modal-footer" id="settingModalBtns">
				<button type="button" id="modalBtnSave" class="btn btn-primary">Save</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>

<!-- 캡쳐용 모달 팝업 -->
<div class="modal fade" id="canvasModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Capture</h4>
			</div>
			<div class="modal-body" style="text-align: center">
				<canvas id="captures"></canvas>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
			</div>
		</div>
	</div>
</div>
<!-- .캡쳐용 모달 팝업 -->

<!-- progress Modal -->
<div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h3>Progress</h3>
			</div>
			<div class="modal-body">
				<!-- progress , bar, percent를 표시할 div 생성한다. -->
				<div class="progress">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
				<div id="status"></div>
			</div>
		</div>
	</div>
</div>

