
<!-- setting Modal -->
<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header" id="settingModalHeader">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">×</span><span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="settingModalTitle">JSON설정</h4>
			</div>
			<div class="modal-body" id="settingModalContent">...</div>
			<div class="modal-footer" id="settingModalBtns">
				<button type="button" id="modalBtnSave" class="btn btn-primary">저장</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
			</div>
		</div>
	</div>
</div>

