<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWS Deploy</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/deploy.js"></script>
</head>
<body>
    <h1>AWS Deploy</h1>
    <div>
        <label for="date">start Date:</label>
        <input type="date" id="date" name="date">
        <button type="button" id="search">조회</button>
    </div>
    <div id="results"></div>
</body>
</html>